PORT=3000
TYPLACE_GMAIL=
TYPLACE_GMAIL_PASS=
SUPER_ADMIN_EMAILS=dmytropolishchuk2109@gmail.com
TURNSTILE_ENABLED=false
TURNSTILE_SECRET=

TRONGRID_API_KEY=

TRON_HOT_WALLET_ADDRESS=
TRON_HOT_WALLET_PRIVATE_KEY=

TRON_USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t

DEPOSIT_MASTER_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=typlacebot
TELEGRAM_WEBHOOK_SECRET=
PUBLIC_BASE_URL=https://typlace.com