PORT=3000
TYPLACE_GMAIL=
TYPLACE_GMAIL_PASS=
SUPER_ADMIN_EMAILS=dmytropolishchuk2109@gmail.com
TURNSTILE_ENABLED=false
TURNSTILE_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=typlacebot
TELEGRAM_WEBHOOK_SECRET=
PUBLIC_BASE_URL=https://typlace.com
APP_URL=https://typlace.com

DATABASE_URL="сюда вставляешь ГОТОВУЮ pooled-строку из Neon"
DIRECT_URL="сюда вставляешь ГОТОВУЮ direct-строку из Neon"
